<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RestaurantLogoImages</key>
	<array>
		<string>Maguro Brothers</string>
		<string>Marugame Udon</string>
		<string>Eggs &apos;N Things</string>
		<string>Liliha Bakery</string>
		<string>Gyu-Kaku Japanese BBQ</string>
		<string>Doraku Sushi</string>
	</array>
</dict>
</plist>
